# Byte-compiled / cache
__pycache__/
graphs/__pycache__/
*.py[cod]

# Python virtual env
bin/
lib/
lib64/
share/
etc/
pyvenv.cfg

# Jupyter Lab configs (optional)
*.ipynb_checkpoints
.venv/
.conda/
.env/

# OS files (optional)
.DS_Store
Thumbs.db